
    {% extends 'base.html'%}
    {% import 'macros.html' as macro%}

    <!-- Styles block -->

    {% block styles%}
        {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    {% endblock %}
<!-- Content block -->
        <!-- Content block -->
    {% block content %}
        <!-- current news section  -->
    <div class="jumbotron">
        <h1 style> Source News</h1>
    </div>
        <ul>
            {{ macro.displayNewsList(current)}}
        </ul>
    {% endblock%}